In [37]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:\\Users\\dhrit\\Downloads\\NFL Play by Play 2009-2016 (v3).csv", low_memory=False)
print( df.shape)
display(df.head())

(362447, 102)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [38]:
df = df.drop_duplicates()
print( df.shape)

(362447, 102)

In [39]:
for col in df.select_dtypes(include="object").columns:
    df[col] = df[col].str.strip().str.upper()
display(df.head(5))

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [40]:
placeholders = ["NA", "N/A", "NONE", "NULL", "NAN", "?", "-", "--", "UNKNOWN", "ERROR"]
for col in df.columns:
    df[col] = df[col].replace(placeholders, np.nan)
missing_table = df.isna().sum().sort_values(ascending=False).head(10).reset_index()
missing_table.columns = ["Column", "Missing Values"]
display(missing_table)

              Column  Missing Values
0        DefTwoPoint          362433
1     BlockingPlayer          362341
2       TwoPointConv          361919
3   ChalReplayResult          359476
4      RecFumbPlayer          358513
5        RecFumbTeam          358513
6        Interceptor          358387
7  FieldGoalDistance          354528
8    FieldGoalResult          354431
9      ExPointResult          353399

In [41]:
if "Date" in df.columns:
    df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
dtypes_table = df.dtypes.head(10).reset_index()
dtypes_table.columns = ["Column", "Data Type"]
display(dtypes_table)

         Column       Data Type
0          Date  datetime64[ns]
1        GameID           int64
2         Drive           int64
3           qtr           int64
4          down         float64
5          time          object
6     TimeUnder           int64
7      TimeSecs         float64
8  PlayTimeDiff         float64
9   SideofField          object

In [42]:
display(df.head(10))

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
5,2009-09-10,2009091000,2,1,1.0,13:16,14,3496.0,11.0,TEN,...,NaN,0.558929,0.441071,0.578453,0.421547,0.441071,-0.019524,NaN,NaN,2009
6,2009-09-10,2009091000,2,1,2.0,12:40,13,3460.0,36.0,TEN,...,0.163935,0.578453,0.421547,0.582881,0.417119,0.421547,-0.004427,-0.010456,0.006029,2009
7,2009-09-10,2009091000,2,1,3.0,12:11,13,3431.0,29.0,TEN,...,NaN,0.582881,0.417119,0.617544,0.382456,0.417119,-0.034663,NaN,NaN,2009
8,2009-09-10,2009091000,2,1,4.0,11:34,12,3394.0,37.0,TEN,...,NaN,0.617544,0.382456,0.591489,0.408511,0.382456,0.026054,NaN,NaN,2009
9,2009-09-10,2009091000,3,1,1.0,11:24,12,3384.0,10.0,TEN,...,0.541602,0.591489,0.408511,0.585405,0.414595,0.591489,-0.006084,-0.024526,0.018442,2009

In [43]:
display(df.describe().T)

,count,mean,min,25%,50%,75%,max,std
Date,362447,2013-05-15 01:23:13.100784128,2009-09-10 00:00:00,2011-09-11 00:00:00,2013-09-08 00:00:00,2015-09-13 00:00:00,2017-01-01 00:00:00,NaN
GameID,362447.0,2012664429.993891,2009091000.0,2011091106.0,2013090806.0,2015091306.0,2017010115.0,2292258.152951
Drive,362447.0,12.347088,1.0,6.0,12.0,18.0,35.0,7.168173
qtr,362447.0,2.578231,1.0,2.0,3.0,4.0,5.0,1.130259
down,308229.0,2.001226,1.0,1.0,2.0,3.0,4.0,1.006003
...,...,...,...,...,...,...,...,...
Win_Prob,340454.0,0.501311,0.0,0.274964,0.504349,0.726995,1.0,0.288207
WPA,357630.0,0.002163,-0.997214,-0.014589,0.0,0.0148,0.994848,0.045326
airWPA,141709.0,0.015209,-0.999881,-0.011355,0.003557,0.035702,0.994848,0.056422
yacWPA,141491.0,-0.010492,-0.986673,-0.018623,0.0,0.011371,1.0,0.067972
Season,362447.0,2012.522071,2009.0,2011.0,2013.0,2015.0,2016.0,2.290084